body {
	background-color: #898989;
  padding:10px;
}

.img {
  margin-bottom:20px;
  margin-left: 5px;
  border:2px solid #d3d3d3;
  padding:10px; 
  text-align:center;
}

img {
  max-height:100%;
  max-width:100%;
  cursor:pointer;
}

#artistName {
  color: black;
}

.container-fixed {
  width:90%;
  margin-left:5%;
  text-align:center;
}

.playing {
  border:5px solid lightblue;
}

#title {
	font-size: 20px !important;
	font-style: italic !important;
}

#warning {
  color: black;
  background-color: red;
  opacity: 0.8;
}

h3 {
	text-align: center;
}

#funny {
  margin-left: 33%;
}

